<?xml version="1.0" encoding="UTF-8"?>
<metatype:MetaData xmlns:metatype="http://www.osgi.org/xmlns/metatype/v1.0.0">

    <OCD description="Redis Leaderboard Setup" name="Redis Leaderboard" id="com.ninedemons.leaderboard.redis.pipelined.PipelinedLeaderboard">
        <AD name="Page Size" id="pageSize" required="true" type="Integer" default="5" description="Size of a page of data"/>
        <AD name="Zero Based Indexing" id="useZeroIndexForRank" required="true" type="Boolean" default="true" description="Whether the first entry is 0 or 1"/>
    </OCD>
    <Designate pid="com.ninedemons.leaderboard.redis.pipelined.PipelinedLeaderboard">
        <Object ocdref="com.ninedemons.leaderboard.redis.pipelined.PipelinedLeaderboard"/>
    </Designate>
</metatype:MetaData>